---
export interface Props {
  siteName: string;
}
const siteName = Astro.props.siteName || "Wilderness Reflections"

import Footer from "../components/Footer.astro";
import NavBar from '../components/NavBar.astro';
import '../styles/global.css';
import 'aos/dist/aos.css';


---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{siteName}</title>
	<!-- In DefaultLayout.astro or index.html -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    </head>
  <body class="dark:bg-darkBlue dark:text-white  font-poppins">
    <NavBar siteName={siteName} />
    <main>
      <slot />
    </main>
    <Footer />
	 <!-- AOS Initialization Script -->
	 <script>
		document.addEventListener('DOMContentLoaded', () => {
		  import('aos').then((AOS) => {
			AOS.init({
			  duration: 1000, // Animation duration in milliseconds
			  offset: 120,    // Offset from the original trigger point
			  easing: 'ease', // Easing function
			});
		  });
		});
	  </script>
  </body>
</html>
